{% load i18n %}
{% load static %}
{% load markdown %}

<section class="single-article">
    <article>
        <figure>
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article.title }}">
            {% else %}
                <img src="{% static 'images/articles/saint.webp' %}" alt="{% translate 'no image found' %}">
            {% endif %} 
        </figure>
        <main>
            <h2>{{ article.title|capfirst }}</h2>
            <p>{{ article.content|capfirst|markdown }}</p>
            {% if article.is_own %}
                <nav>
                    <ul>
                        <li><a href="{% url "article-edit" article.pk %}">
                            
                        </a></li>
                        <li><a href="{% url "article-delete" article.pk %}">
                            
                        </a></li>
                    </ul>
                </nav>
            {% endif %} 
        </main>
    </article>
</section>